.selectedcell {
    background: lightsteelblue; 
}´

.unselectedcell {
    background: rgb(255, 255, 255); 
}

.bordered {
    border-bottom: 1px solid black;
}

#labelDiscipline, #labelCourse, #labelProfessor {
    font-size: 12pt;
    font-weight: bold;
    float: left;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="button"], input[type="submit"] {
    float: right;
    padding: 5px 10px;
}

#contextMenu {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

#contextMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

#contextMenu ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px 16px;
}

#contextMenu ul li a:hover {
    background-color: #f1f1f1;
}

#discipline #course #professor {
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;     /* Alinha verticalmente ao centro */
    height: 200px;           /* Define a altura da div */
    width: 200px;            /* Define a largura da div */
    text-align: center; 
    box-sizing: border-box;
    font-weight: bolder;
    font-size: medium;
}

#course 
{
    font-size: small;
    
}

#professor {
    font-size: smaller;
    font-weight: lighter;
}

#root {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
}

#tableCell {
    text-align: center;

}

/*
15981027355
*/